@keyframes move {
    0% {
      transform: translateY(0);
      color: red;
    }
    50% {
      transform: translateY(200px);
      color: blue;
    }
    100% {
      transform: translateY(0);
      color: red;
    }
  }

  div {
    width: 100px;
    height: 100px;
    background-color: yellow;
    text-align: center;
    line-height: 100px;
    font-size: 20px;
    animation: move 5s infinite;
  }